/*
Theme Name: ReTiS WP Template
Author: Gabriele Serra
Description: A simple child theme for Elead
Version: 0.1.2
Template: elead
Text Domain: retis-template
*/ 

/*************************************************
 * INDEX
 * ************************************************/
/*
 * 0 - Typography
 * 1 - Parent template adjustment
 * 2 - Custom content CSS
 * 3 - Home page footer
 * 4 - Plugin adjustment
 * 
 */

/*************************************************
 * 0 - Typography
 * ************************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: 'Roboto', sans-serif;
}
.main-navigation  ul li a {
    font-family: 'Roboto', sans-serif;
}

/* Academic Icons */
.fa-dblp:before {
    content: "\e94f";
	font-family: 'Academicons';
}
.fa-google-scholar:before {
    content: "\e9d4";
	font-family: 'Academicons';
}

/* Original theme colors */
:root {
  	--primary: #c1331b;
	--secondary: #f9d1a1;
	--primarydarker: #8f2817;
	--transparent: #2e2624;
}

/* ReTis palette */
/*
:root {
  	--primary: #3F51B5;
	--secondary: #FFFFFF;
	--primarydarker: #303F9F;
	--transparent: #212121;
}
*/

.main-navigation {
	background-color: var(--primary);
}
.main-navigation ul li a {
	color: var(--secondary);
}
.main-navigation li:hover {
	background-color: var(--primarydarker);
}
h2.news-ticker-label {
	background-color: var(--primary);
}
.top-bar {
    border-bottom-color: var(--primary);
}
.main-slider-contents {
	border-left-color: var(--primary);
}
.btn-fill {
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn {
	color: var(--secondary);
}
#courses-details .entry-meta small .name, #primary span.cat-links a, #professional .entry-title-desc, #promotion .entry-title-desc, #testominal .entry-title-desc, .course-features li i, .entry-title-desc, .page-header h3, .page-numbers:before, .picker_close, .picker_close:focus, .picker_close:hover, .price, .quatation span, .read-more, .read-more:after, .service i, .site-description, .site-info a, .statwrap .fa, .statwrap small, .subscribe-text p, .thumb-image span, .widget_latest_courses span.tp-course-price, ul.trail-items li {
	color: var(--primary) !important;
}
.featured-title a:hover, .news-content .entry-title a:hover, .entry-meta time:hover, #secondary .widget h5 a:hover, #secondary .widget ul li a.time:hover, .thumb-image h5 a:hover, .footer-widget-area a:hover, .footer-widget-area .widget_call_to_action ul li a:hover, .site-title a:hover, .sticky .entry-title a:hover, #primary .sticky span.comments-link a:hover, #primary .archive-blog-wrapper .entry-container .entry-title a:hover, #primary .archive-blog-wrapper .entry-meta a:hover, .single-post span.posted-on time:hover, .single-post span.comments-link a:hover, span.orange, #core-services .featured-image h5 a:hover, .post-navigation .nav-links a:hover, .posts-navigation .nav-links a:hover, #about-author .author-name a:hover, .news.and.events #secondary .widget a:hover, #news-events .events h5 a:hover, #news-events .events ul li a.time:hover, .single-post .entry-container .entry-meta a:hover, .single-tp-class .entry-meta a:hover, .single-tp-event .entry-meta a:hover, .single-tp-excursion .entry-meta a:hover, .single-tp-affiliation .entry-meta a:hover {
	color: var(--primary) !important;
}
.btn-transparent, #promotion .btn.btn-fill:hover {
    border-color: var(--transparent);
    color: var(--transparent);
}
.btn-transparent:hover, .btn-fill:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

/*************************************************
 * 1 - Parent template adjustment
 * ************************************************/

/* Center title page in home content */
.home #main .entry-title {
	text-align: center;
}

/* Reduce nav bar size */
.main-navigation ul > li > a {
    padding: 15px 37px 15px 38px;
}
.site-header .widget.widget_search input[type=search] {
	height: 35px;
}
.widget.widget_search .search-submit {
	height: 35px;
}
.site-branding {
	padding-top: 10px;
	padding-bottom: 10px;
}
.site-logo {
    padding-left: 20px;
	padding-right: 0px;
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
	.site-header .widget.widget_search {
		max-width: 200px;
	}
}

/* Align social icon to right*/
#topbar-widget-wrapper .wrapper {
	margin-right: 0px;
}

/* Align social media icon to center in footer */
#social-medias > .wrapper > ul {
	height: 102px;
	text-align: center;
}
#social-medias ul li {
	display: inline-block;
	float: none;
}

/* Reduce news widget space occupation */
#topbar-widget-wrapper {
	position: absolute;
	right: 0;
}
@media (max-width: 1024px) {
	#topbar-widget-wrapper {
		position: relative;
		right: auto;
	}
}

/* Reduce timeline font size (62px to 35px) */
h2.cd-timeline-item-title { 
   font-size: 35px;
}

/* Reduce title size and image */
h1.page-title {
	 font-size: 50px;
}
.page-detail {
	 padding: 10px;
}
#header-featured-image.page-section {
	 padding: 80px;
}

/* Increment background opacity in main slider */
.main-slider-contents {
	background-color: rgba(0, 0, 0, 0.75);
}

/* Increment navigation dot size in home slider */
.slick-dots li button:before {
	font-size: 12px;
}

/* Adjust service banner after adding anchor */
#services .row .hentry:nth-child(1) .services-icon, #services .row .hentry:nth-child(4) .services-icon {
    color: #404040;
}

/* Reduce space between about-title and navbar */
@media screen and (min-width: 992px) {
	#about .hentry.about-header {
		margin-top: 1em;
	}
}

/* Reduce padding of homepage sections */
.home .page-section {
    padding: 35px 0;
}

/* Remove after element in ul for Post Carousel */
.recentpost-categories li::after {
	content: none !important;
}

/*************************************************
 * 2 - Custom content CSS
 * ************************************************/

/* Adjust new search form padding */
#site-navigation .widget_search {
	padding: 10px;
}
@media (min-width: 1024px) and (max-width: 1200px) {
	.site-header.has-site-logo .topbar-toggle .fa {
		display: none;
	}
}

/* Centering logo in Accademic Collaborations page */
.page-id-1084 table.wp-block-table td:first-child {
	text-align: center;
}

/* Override style for custom Academic Icon */
.gs-team-social a.google-scholar:hover {
    background: #E13D3A;
    border: 1px solid #E13D3A;
}

/* Override style for custom Academic Icon */
.gs-team-social a.dblp:hover {
    background: #F9D720;
    border: 1px solid #F9D720;
}

/* Define col-8 as grid system */
@media screen and (min-width: 992px) {
    .col-8 .hentry {
        width: 12.5%;
        float: left;
	}
}
@media screen and (min-width: 767px) and (max-width: 992px){
	#services .col-8 .hentry {
		width: 25%;
		float: left;
	}
	.static-services .services-wrapper {
		float: none !important;
		text-align: center !important;
	}
}
@media screen and (min-width: 500px) and (max-width: 767px){
	#services .col-8 .hentry {
		width: 50%;
		float: left;
	}
	.static-services .services-wrapper {
		float: none !important;
		text-align: center !important;
	}
}
@media screen and (max-width: 500px){
	#services .col-8 .hentry {
	    width: 100%;
	}
	.static-services .services-wrapper {
		float: none !important;
		text-align: center !important;
	}
}

/* Add style for static-services in Homepage section */
.static-services .hentry {
	display: block !important;
}
.static-services .services-wrapper {
	width: 100%;
}
.static-services .services-icon {
	max-width: 125px;
    height: 125px;
    line-height: 125px;
	width: 100%;
	background-color: #fff !important;
	color: var(--primarydarker) !important;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.static-services .services-icon:hover {
	box-shadow: 0 10px 10px 0 hsla(9, 12%, 24%, 0.2);
	-moz-box-shadow: 0 10px 10px 0 hsla(9, 12%, 24%, 0.2);
	-webkit-box-shadow: 0 10px 10px 0 hsla(9, 12%, 24%, 0.2);
	-o-box-shadow: 0 10px 10px 0 hsla(9, 12%, 24%, 0.2);
}
.static-services .services-icon .fa {
	line-height: 125px;
}
.static-services .services-caption {
	text-align: center;
	margin-top: 10px;
}
.static-services .services-caption h6 {
	/*text-transform: uppercase;*/
	font-size: 15px;
}
@media screen and (max-width: 992px) {
	.static-services .services-wrapper {
		line-height: 2;
	}
}
.static-services .featured-title {
	color: var(--transparent);
}

/* Add style to adjust About section in Home */
.retis-about .slick-item {
	height: 400px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
@media screen and (max-width: 500px) {
	.retis-about .slick-item {
		background-size: cover;
	}
}
.retis-about .slick-item .wrapper {
	position: absolute !important;
	bottom: 0;
}
.retis-about .slick-current .slider-contents {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
    animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
	padding: 10px;
	border-radius: 5px;
}
.retis-about .slick-current h2 {
	color: white;
	font-size: 30px;
}

/* Adjust team caption in People page and page titles */ 
@media screen and (max-width: 500px) {
	#post-159 h3, #post-726 h3, #post-1948 h3 {
		font-size: 20px;
	}
	.page-title {
		font-size: 25px !important;
	}
}

/*************************************************
 * 3 - Home page footer
 * ************************************************/

/* No more used, needed for SSSUP and TECIP old contacts */
.footer-container {
    display: flex;
    justify-content: center;
}
.footer-logo img {
    width: 100px;
    height: 100px;
}
.footer-info {
    text-align: center;
    width: 40vw;
}
.footer-info p {
    margin: 0 15px;

}

/* No more used, needed for SSSUP and TECIP old contacts */
@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
    }
    .footer-logo, .footer-info {
        text-align: center;
        width: 100%;
    }
    
    .footer-logo img, .footer-p {
        margin: 10px auto;
    }
}

/* Remove comment RSS and Wordpress.org from meta */
.widget_meta > ul > li:nth-last-child(1) {
	display: none; 
}

.widget_meta > ul > li:nth-last-child(2) {
	display: none; 
}

.footer-contacts-container {
	display: flex;
	align-items: center;
}

.footer-contacts-logo {
	margin-right: 15px;
}

.footer-contacts-logo img {
    width: 100px;
}

.footer-contacts-p > p {
	font-size: 15px;
}


/*************************************************
 * 4 - Plugin adjustment
 * ************************************************/

/* Remove animation for people shortcode */
.cbp-so-init .cbp-so-side {
    opacity: 1;
}
.cbp-so-init .cbp-so-side-left {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}
.cbp-so-init .cbp-so-side-right {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}

/* Adjust list of research topics spacing */
.list-of-topics > li {
	margin-bottom: 15px;
}

/* Adjust Table press tables */
@media (min-width: 1024px) {
	.tablepress thead, .tablepress tbody {
		display: inline-block;
		width: 100%;
	}
	.tablepress tr {
		display: flex;
	}
	.tablepress td, .tablepress th {
		flex: 1;
	}
	
	/* Adjust Table press tables for Thesis */
	.page-id-1248 .tablepress tr .column-1,
	.page-id-1248 .tablepress tr .column-2,
	.page-id-1248 .tablepress tr .column-4 {
		flex-grow: 2 !important;
	}
}

/* Adjust icon in people shortcode */
ul.gs-team-social {
	padding-left: 0px;
	padding-right: 0px;
}

/* Adjust visual portfolio meta item category spacing */
.vp-portfolio__item-meta-categories {
	padding: 0;
}
.vp-portfolio__item-meta-category {
	margin-left: auto !important;
}

/* Adjust image position in GS Team squares on People page */
.single-member-div .single-member .gs_team_image__wrapper img {
	object-position: center 10% !important;
}